language: php

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.2
    - php: 7.1
      env: DEPENDENCIES=dev

before_install:
    - if [ "$DEPENDENCIES" = "dev" ]; then composer config minimum-stability dev; fi;

install: travis_retry composer update $COMPOSER_FLAGS

script: ./vendor/bin/simple-phpunit
