language: php

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.3
      env: SYMFONY_REQUIRE=4.3.*
    - php: 7.4
      env: SYMFONY_REQUIRE=4.4.*
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.2
      env: DEPENDENCIES=dev
    - php: 7.4
      env: SYMFONY_REQUIRE=5.0.*
      
before_install:
    - if [ "$DEPENDENCIES" = "dev" ]; then composer config minimum-stability dev; fi;
    - composer global require --no-progress --no-scripts --no-plugins symfony/flex

install: travis_retry composer update $COMPOSER_FLAGS --prefer-dist

script: ./vendor/bin/simple-phpunit
