name: Build

on: [ pull_request ]

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Test
        strategy:
            fail-fast: false
            matrix:
                include:
                    -   php: 8.2
                        SYMFONY_REQUIRE: 6.4.*
                    -   php: 8.3
                    -   php: 8.4
                        SYMFONY_REQUIRE: 7.3.*
                    -   php: 8.4
                        SYMFONY_REQUIRE: 8.0.*
                    -   php: 8.5
                        stability: dev

        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    coverage: none

            -   name: Configure Composer minimum stability
                if: matrix.stability
                run: composer config minimum-stability ${{ matrix.stability }}

            -   name: Install symfony/flex
                run: composer global config allow-plugins.symfony/flex true && composer global require symfony/flex

            -   name: Install dependencies
                env:
                    SYMFONY_REQUIRE: "${{ matrix.SYMFONY_REQUIRE }}"
                run: composer update ${{ matrix.composer-flags }} --prefer-dist

            -   name: Phpunit
                run: ./vendor/bin/phpunit

    php-stan:
        runs-on: ubuntu-latest
        name: PHPStan

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "8.5"

            -   name: Install dependencies
                run: composer update --prefer-dist

            -   name: PHPStan
                run: vendor/bin/phpstan

    cs-fixer:
        runs-on: ubuntu-latest
        name: PHP CS Fixer

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "8.5"

            -   name: Install dependencies
                run: composer update --prefer-dist

            -   name: PHP CS Fixer
                run: vendor/bin/php-cs-fixer fix --diff --dry-run
