name: Build

on: [pull_request]

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Test
        strategy:
            fail-fast: false
            matrix:
                include:
                -   php: 7.2
                -   php: 7.3
                    SYMFONY_REQUIRE: 4.4.*
                -   php: 7.4
                    SYMFONY_REQUIRE: 5.3.*
        
        steps:
        -   uses: actions/checkout@v2
        
        -   name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: "${{ matrix.php }}"
                coverage: none
        
        -   name: Configure Composer minimum stability
            if: matrix.stability
            run: composer config minimum-stability ${{ matrix.stability }}
        
        -   name: Install symfony/flex
            run: composer global require symfony/flex
        
        -   name: Install dependencies
            env:
                SYMFONY_REQUIRE: "${{ matrix.SYMFONY_REQUIRE }}"
            run: composer update ${{ matrix.composer-flags }} --prefer-dist
        
        -   name: Phpunit
            run: ./vendor/bin/simple-phpunit
